<div class="my-3">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-container">
            <label for="driverName" class="form-label">Driver Name</label>
            <input type="text" [(ngModel)]="formData.driverName" class="form-control" id="driverName" name="driverName" aria-describedby="emailHelp" required >        
            
          </div>
          <div class="input-container">
            <label for="driverLicenseNo" class="form-label">Driver License No</label>
            <input type="text" [(ngModel)]="formData.driverLicenseNo" class="form-control" id="driverLicenseNo" name="driverLicenseNo" aria-describedby="emailHelp">
            
          </div>
          
         
            <app-dropdown [options]="options" (optionSelected)="onOptionSelected($event)"></app-dropdown>
          
       
          
            <app-status [statusoptions]="statusoptions" (statusOptionSelected)="onstatusOptionSelected($event)"></app-status>
            
         
        </div>  
        <p></p> 
        <button type="submit" class="btn btn-primary resize">Submit</button>
        
      </form>
     
    </div>

    

    
    